
<img src="<%= @entry.photo_url %>" alt="alt description here"><a href="<%= @entry.photo_url %>">
<p><a href="<%= @entry.photo_url %>">Website</a></p>
<p><h2><%= @entry.author %></h2></p>
<p><%= @entry.created_at %></p>


<a href="/entries/<%= @entry.id%>/edit">Update this entry</a>


<%= form_tag entry_path(@entry), method: "delete" do %>
<%= submit_tag("destroy") %>
<% end %>
